@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
    font-family: lato;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin: 10px;
    input[type="text"]{
        border-radius: 5px;
        padding: 12px 20px;
        font-size: 16px;
    }
}
button{
    border: 2px dashed black;
    background-color: #4169e1;
    color: white;
    width: 100px;
    height: 40px;
    transition: filter 300ms ease-out;
}
button:hover{
    cursor: pointer;
    filter: brightness(120%);
    filter: contrast(150%);
}

#word{
    font-size: 2em;
    margin: 20px;
    font-weight: 500;
}
#soundButton{
    margin: 7px;
    width: 175px;
    height: 75px;
    font-size: 1em;
    font-weight: bold;
    background-color: #8141e1;
}